*{
    margin: 0px;
    padding: 0px;
}
.header-bg-color{
    background: #264653;
    color: white;
}
.header-banner{
    height: 100vh;
}
.bz-btn{
    background: #E76F51;
}
.bz-btn:hover{
    background: #E76F51;
}
footer{
    height: 100%;
}
.footer-bg-color{
    background: #0B0D17;
}